body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5d7a86;
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  height: 30vw;
  background-color: #b6ae9f;
  box-shadow: 10px 10px 10px black;
  padding: 20px;
  border-radius: 10px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 10%;
  background-color: #eeeeee;
  border: solid #948e82 5px;
  border-radius: 10px;
  text-align: end;
  font-size: 1.6em;
}

.buttonContainer {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.buttonContainer > div {
  display: flex;
  flex: 1; /* Each row takes equal height */
  gap: 2px; /* Optional: adds spacing between buttons */
  justify-content: flex-start;
}

.buttonContainer button {
  width: calc(
    (100% - 6px) / 4
  ); /* 4 is the max buttons per row, 6px accounts for 3 gaps of 2px each */
  height: 100%; /* Buttons fill the full height of their row */
  font-size: larger;
  border-radius: 10px;
}

#equalsBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40%; /* Span two rows (20% each) */
  width: calc((100% - 6px) / 4);
  font-size: xx-large;
}

#clearBtn {
  color: white;
  background-color: #c66e52;
}

.operatorBtn {
  background-color: #e9b63b;
}
