h1 {
  font-size: 100px;
  color: blue;
  text-align: center;
}

.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-outline {
  height: 500px;
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: red;
}

.buttons-container {
  margin: 20px 20px;
}

.button-line {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.button-line-one {
  display: flex;
  justify-content: start;
  padding: 10px 40px;
}

button {
  font-size: x-large;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.screen-container {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.screen {
  width: 350px;
  height: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: lightcyan;
  font-size: 3vh;
}
